
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Pokemon <3 WIT </h1>
    <span class="menu-spacer"></span>
    <div>
      <!-- The way you link between different components and pages of Angular app is with routerLink  -->
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/list">Pokemon</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <!-- router-outlet is a custom HTML element where the routed components are dis -->
  <router-outlet></router-outlet>
</div>