<header>
  <div class=”container”>
    <a href=”#” class=”logo”>Pokemon!</a>
  </div>
  <nav>
    <ul>
      <!-- The way you link between different components and pages of Angular app is with routerLink  -->
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/">Pokemon</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <!-- router-outlet is a custom HTML element where the routed components are displayed -->
  <router-outlet></router-outlet>
</div>